.navbar {
    display: flex;
    height: var(--nav-height);
    max-height: var(--nav-height);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-family: var(--logo-ff);
        font-size: 3rem;

        &__main {
            user-select: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 2rem;
        }

        &--icon {
            font-size: 3rem;
            margin-right: 1rem;
        }

        &__actions {
            display: none;
        }

        &__mobile-menu {
            color: #fff;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        height: var(--nav-height);
        max-height: var(--nav-height);
        padding: 1rem 0;
    
        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: var(--logo-ff);
            font-size: 3rem;
    
            &--icon {
                font-size: 3rem;
                margin-right: 1rem;
            }
    
            &__main {
                user-select: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                font-size: 2rem;
            }
    
            &__actions {
                height: 100%;
                display: flex;
                align-items: center;
                width: 25rem;
                justify-content: space-between;
                font-size: 1.8rem;
                font-family: var(--poppins-ff);
                font-weight: 600;
    
                & a {
                    padding: .6rem 1.8rem;
                    border-radius: 5px;
                    color: #fff;
                    transition: background-color 300ms ease, color 300ms ease;
    
                    &:hover {
                        background-color: #de4935;
                        color: #fff;
                    }
                }
            }

            &__mobile-menu {
                display: none;
            }
        }
    }
}

.navbar.scrolled {
    background-color: #fff;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
    

    .navbar__content {
        color: #de4935;

        &__actions {

            & a {
                color: #de4935;

                &:hover {
                    background-color: #de4935;
                    color: #fff;
                }
            }
        }

        &__mobile-menu {
            color: #000;
        }
    }
}